*{
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/*? ---------- RTL: PAGE ---------- */

#Buttons{
    margin:10px 10px 10px 10px;
    display: flex;
}
#RTL{
    display: flex;
}
#goto1{
    display: flex;
    justify-content: right;
    height: fit-content;
    align-items: center;
}
#data{
    display: flex;
    flex-wrap: wrap ;
    margin: 0px 30px 0px 0px;
}
#const{
    display: flex;
}
#page_RTL,#page_HIST{
    margin: 0 15px 0 15px;
    background-color: white;
    color: black;
}


/*? ---------- Records ---------- */
#record{
    display: flex;
}
#data_record{
    display: flex;
}
#search-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#date_ul{
    display: flex;
    flex-direction: column;
    margin: -10px 20px 10px 0;
}
#goto2{
    display: flex;
    justify-content: left;
    align-items: center;
}

/*? ---------- Reset Botton ----------*/
#reset{
    display: flex;
    margin:  10px 0 0 0;
}#error{
    display: flex;
}button{
    display: flex;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 650;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: scale 0.1s;
}

/*? ---------- Map control ---------- */
#cartography{
    display: flex;
}
#map {
    display: flex;
    justify-self: center;
    width: 90%;
    height: 500px;
    border-radius: 20px;
}

/*? ---------- Title (Find My Wheels) ---------- */
#title {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}#logo{
    display: block;
    width: 200px;
    margin: 10px 0 5px 106px;
}

#entitle{
    display: flex;
}
#entitle li{
    display: flex;
    margin: 0 50px 0 50px;
}


/*? ---------- Bar ---------- */
#b{display: flex;}
#bar{
    width: 50%;
    height: 3px;
    border-radius: 5px;
    background-color: black;}

/*? ---------- Text ---------- */
h2{
    margin: 15px 0 5px 0
}ul{
    display: block;
    margin: 0px 0px 0px 0px;
    list-style: none;}

/*? ---------- Animation ---------- */

button:hover {
    scale: 0.9;
}