*{
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*? RTL: PAGE */

#Buttons{
    margin:10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
}

#RTL{
    display: none;
}

/*? History */
#History{
    display: none;
}

/*? Reset Botton */
#reset{
    display: flex;
    margin:  10px 0 0 0;
}#error{
    display: flex;
}button{
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 650;
    margin: 0 10px 0 10px;
}

/*? Map control */
#cartography{
    display: flex;
}
#map {
    display: flex;
    justify-self: center;
    width: 90%;
    height: 540px;
    border-radius: 20px;
}

/*? Title (Find My Wheels) */
#title {
    display: flex;
}#logo{
    width: 200px;}

#data{
    display: flex;
    flex-direction: column;
}
#const{
    display: flex;
}

/*? Bar */
#b{display: flex;}
#bar{
    width: 50%;
    height: 3px;
    border-radius: 5px;
    background-color: black;}

/*? Text */
h2{
    margin: 15px 0 5px 0
}ul{
    display: block;
    margin: 0px 50px 0px 0px;
    list-style: none;}
